# latex
writing/*.aux
writing/*.log
writing/*.bbl
writing/*.bcf
writing/*.blg
writing/*.fdb_latexmk
writing/*.fls
writing/*.lof
writing/*.lot
writing/*.toc
writing/*.run.xml
writing/*.synctex.gz
writing/main.pdf
.DS_Store
*/.DS_Store
# vscode
.vscode/*